html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
		font-size: 14px;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #fff;
	}
	body, input, select, textarea {
		color: #787878;
		font-family: 'Nunito', sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.65em;
		background-color: #e9e9e9;
	}
section.header{
	height: 100vh;
	max-width: 1200px;
	width: 100%;
	background: #e9e9e9;
	margin: auto;
	max-height: 720px;
}
.m-menu a{
	font-size: 12px;
	line-height: 24px;
	color: #191919;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	transition:all 0.3s;
}
.m-menu ul{
	display: flex;
	
}
.m-menu li{
	padding: 0px 12px;
}
.m-menu a:hover{
	color: #10c9c3;
	
}
.m_active a{
	color: #10c9c3;
}
.m-header{
	height: 80px;
	display: flex;
	align-items: center;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.wrapper {
	width: 1174px;
	margin: 0px auto;
}
.m-menu{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.banner h2{
color: #1d1d1d;
font-family: 'Montserrat', sans-serif;
font-size: 38px;
font-weight: bold;
line-height: 48px;
letter-spacing: 0.38px;
}
.banner p{
	font-size: 18px;
	line-height: 24px;
	margin: 45px 0px
}
.banner a{
	background: #10c9c3;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.banner{
	margin: 180px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}
.about{
	max-width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
.m-about h3{
	font-size: 30px;
	font-weight: bold;
	color: #191919;
	line-height: 60px;
	letter-spacing: 0.3px;
	font-family: 'Montserrat', sans-serif;
}
.m-about{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-content: space-around;
}
.m-about p{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.08px;
	font-weight: 400;
}
.skill {
	height: 570px;
	width: 100%;
	display: flex;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}
.mini_wrapper{
	width: 80%;
	margin: auto;
}
.m-skill{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #f8f9f9;
	
}
.m-skill h2{
	color: #171717;
	font-weight: bold;
	line-height: 84px;
	font-size: 30px;
	letter-spacing: 0.3px;
}
.m-skill span{
	color: #000;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1.2px;
}
.progress_bar{
	height: 3px;
	width: 500px;
	background-color: #d8d8d8;
	
}
.progress_bar span{
	  	background-color: #10c9c3;
	    display: block;
        height: 3px;
}
.numbers{
	height: 250px;
	width: 100%;
	background-color: #10c9c3;
	display: flex;
	color: #fff;
	align-items: center;
}
.m-numbers{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.min_numbers{
	display: flex;
	flex-direction: column;
}
.numbers__item i{
	display: block;
	margin-right: 30px;
}
.numbers__item{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	letter-spacing: 1.2px;
}
.min_numbers b{
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.54px;
}
.works{
	max-height: 600px;
	max-width: 100%;
	background: #f5f5f5;
	margin: auto;
}
.work__item{
background-size:342px 300px;
display: flex;
flex-wrap:wrap;	
width: 337px;
height: 300px;
background-color: #dddddd;
background-size: cover;
}
.work__item:hover{
	opacity: 0.85;
	cursor: pointer;
	background-color: #141414;
}
.work__item:nth-child(1),
.work__item:nth-child(3),
.work__item:nth-child(6),
.work__item:nth-child(8){
	background-color: #838383;
}
.work__list{
	display: flex;
	flex-wrap:wrap;	
	flex-direction: row;
}

.load_works{
	
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f5f5f5;

}
.load_works a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #8e8e8e;
	font-size: 12px;
	letter-spacing: 1.2px;
	
}
.clear{
	clear: both;
}

.m-process h2{
color: #191919;
font-family: 'Montserrat', sans-serif;
font-size: 30px;
font-weight: bold;
line-height: 60px;
/* Text style for "O, ur Work" */
letter-spacing: 0.3px;
}
.m-process p{
color: #787878;
font-size: 16px;
font-weight: 400;
line-height: 24px;
/* Text style for "Was years" */
letter-spacing: 0.08px;
}
.process{
	height: 920px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: space-between;
}
.m-process{
	display: flex;
	flex-direction:column;
	align-items:center;
	align-content:space-between;
}
.m-process p{
	text-align: center;
	padding: 20px 0px;
}
.video{
	width: 1170px;
	height: 570px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e9e9e9;
}
.arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #10c9c3;
	border-radius: 50%;
	height: 85px;
	width: 85px;
	cursor: pointer;
}
.services {
	height: 530px;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services i{
	font-size: 48px;
	color: #656565;
}
.services__item h3{
	color: #191919;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	
}
.services__list{
	width: 100%;
	height: 100%;
	display: flex;
	align-content: space-between;
	justify-content:center;
	align-items: center;
	flex-wrap:wrap;
}
.services__item p{
	color: #787878;
	line-height: 24px;
	letter-spacing: 0.08px;
	padding: 0px 20px;
}
.services__item{
	width: 25%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.comments {
	height: 500px;
	background-color: #10c9c3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.m-comment{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	
}
.m-comment h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0.24px;
	text-align: center;
}
.m-comment span{
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 36px;
	text-transform: uppercase;
	/* Text style for "M, ichael" */
	letter-spacing: 1.2px;
	padding: 20px 0px;
}
.m-comment h2:after{
	content: '”';
	font-size: 30px;
	letter-spacing: 0.3px;
}
.m-comment h2:before{
	content: '“';
	font-size: 30px;
	letter-spacing: 0.3px;
	
}
.nav-comment__list{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
}
.comment__item{
	width: 6px;
	height: 6px;
	background: #b0e8e6;
	border-radius: 50%;
	margin-left: 8px;
	margin: 0 5px;
}
.nav-comment__list a:hover, .comment_active{
	width: 10px;
	height: 10px;
	background: #fff;
	cursor: pointer;
}

.nav-comment__list a{
	transition: 0.3s;
	text-decoration: none;
}
section.hr{
	height: 200px;
	width: 100%;
	background: #fff;
}
.need_project {
	height: 750px;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.mail h2{
	color: #1d1d1d;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 84px;
/* Text style for "N, eed a P" */
	letter-spacing: 0.3px;
}
.mail p{
	line-height: 24px;
	letter-spacing: 0.08px;
}
.mail {
	display: flex;
	flex-direction: column;
	
}
.form_mail textarea{
	resize: none;
	background: #fff;
	border:none;
	width: 100%;
	height: 170px;
	padding: 10px 20px;
	border-radius: 2px;
	margin-top: 15px;
}
.form_mail{
	width: 680px;
	margin: auto;
	border-radius: 2px;

}
.form_mail input[type="text"]{
	background: #fff;
	border: 1px solid #fff;
	height: 48px;
	padding: 5px 15px;
	border-radius: 2px;
}
.form_mail input[name="title"]{
	width: 100%;
	margin: 15px 0px;
}
.form_mail input[name="name"], .form_mail input[name="mail"]{
	width: 45%;
	margin: 15px 0px;
}
.user_mail{
	display: flex;
	justify-content:space-between;
	align-items: center;
	
}
.form_mail input[type="submit"]{
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	/* Text style for "send messa" */
	letter-spacing: 1.2px;
	padding: 10px 20px;
	background-color: #10c9c3;
	border: none;
	transition: all 0.3s;
	margin-top: 30px;
}
.form_mail input[type="submit"]:hover{
	cursor: pointer;
	transition: all 0.3s;
		background-color: #11b2ad;

}
.form_mail form{
	color: #787878;
	font-family: "Nunito", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.07px;

}
.footer{
	height: 284px;
	background-color: #141414;
	color: #bcbcbc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.company{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	width: 40%;
}
.company h5{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.18px;
}
.footer_nav__mail{
	display: flex;
	flex-direction: column;
}
.footer_nav__mail a{
	color: #bcbcbc;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}
.footer_nav__list{
	width: 100%;
	align-items: center;
	align-content: center;
	display: flex;
	justify-content: center;
	
}
.footer_nav__item ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.footer_nav__item a{
	text-decoration: none;
	color: #bcbcbc;
}
.footer_nav__item a:hover{
	color: #dedede;
}
.footer__right{
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}