html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
		font-size: 8px;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #fff;
	}
body{
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
	background: #fff;
}
.wrapper{
	width: 86%;
	margin: auto;
}
section.header{
	width: 100%;
	height: 920px;
	background:  #f5f5f5;
	float: left;
}
.logo span{
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans", sans-serif;
	font-size: 34px;
	font-weight: 400;
	line-height: 34.55px;
	border: 2px solid #170f1c;
	opacity: 0.6;
	border-radius: 2px;
	padding: 5px;
}
.topheder{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 85px;
	justify-content: space-between;
}
.logo b{
	color: #fc6744;
}
.menu {
	width: 34px;
	height: 20px;
}
.menu a{
	color: #170f1c;

}
.centerHeder h1{
	color: #626262;
	font-size: 50px;
}
.centerHeder h1 > b{
	color: #fc704f;
}
.centerHeder{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:150px;
}
.centerHeder p{
	font-weight: 400;
	margin-top: 40px;
	text-align: center;
	opacity: 0.65;
	line-height: 25px;
}
.form{
	width: 370px;
	box-shadow: 0 0 57px rgba(20, 20, 21, 0.2);
	border-radius: 2px;
	background-color: #ffffff;
}
.form_massage{
	display: flex;
	flex-direction: column;
	font-weight: 400;
	align-items: center;
}
.form_massage textarea{
	resize: none;
	height: 90px;
}
.form_massage input[type="text"], .form_massage textarea{
	border: none;
	border-bottom: 1px solid #000;
	opacity: 0.22;
	padding: 10px 3px;
	margin-bottom: 26px;
	outline: none;
	width: 80%;
	font-family: "Open Sans", sans-serif;
}
.form_massage input[type="submit"]{
	display: block;
	box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.08);
	border-radius: 27px;
	border: 1px solid rgba(1, 2, 2, 0.07);
	background-color: #ff5c36;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	padding: 15px 60px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;

}
.form_massage b{
	color: #ff5c36;
	font-weight: 600;
}
.form_massage h2{
	opacity: 0.9;
	color: #211a18;
	font-weight: 400;
	margin: 30px 0px;
}
.form{	
	float: left;
	margin-top: 77px;
}
.work{
	width: 100%;
	height: 770px;
	float: left;
}
.work__process span{
	color: #fc6744;
}
.work__process{
	text-align: center;
	margin-top: 150px;
}
.work__process h2{
	opacity: 0.8;
	font-size: 50px;
	font-weight: 400;
	line-height: 45.74px;
}
.work__process p{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	opacity: 0.5;
	color: #414141;
	padding:10px;
}
.work__item i{
	font-size: 50px;
	color: #ffffff;
	display: block;
	margin: 50px 0 22px 0;
	
}
.work__content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 110px;
        justify-content: center;

	flex-wrap: wrap;
}
.work__item{
	width: 257px;
	height: 263px;
	text-align: center;
	padding: 10px;
	margin: 0px 15px;
	box-shadow: 0 0 35px rgba(20, 20, 21, 0.21);
}
.work__item h3{
	font-weight: 400;
	font-size: 20px;
	line-height: 42px;
	letter-spacing: 0.2px;
	opacity: 0.9;
	color: #ffffff;
}

.work__item p{
	font-size: 15px;
	line-height: 22px;
	opacity: 0.75;
	color: #fff;
}
.blue{
	background-color: #4eb2f7;
}
.purpul {
	background-color: #c049f8;
}
.blues{
	background-color: #817eff;
}
.red {
	background-color: #f74770;
}
.work__item a > i{
	font-size: 13px;
	color: #000;
	display: block;
}
.work__item a{
	display: block;
	box-shadow: 1px 6px 14px rgba(20, 20, 21, 0.09);
	border-radius: 27px;
	background-color: #ffffff;
	text-decoration: none;
	padding: 15px 30px;
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	top: 18px;
}
.featuredWork{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #fbfbfb;
}
.featured__content h2{
	margin-top: 140px;
	color: #000000;
	font-size: 50px;

}
.featured__content span{
	color: #fc6744;
	opacity: 0.8;
}
.featured__content p{
	margin-top: 20px;
	opacity: 0.5;
}
.featured_item {
	width: 360px;
	height: 358px;
	background-color: #ff5c36;
	margin: 10px;
}
.featured__box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin: 110px 0 170px 0;
}
.services{
	width: 100%;
	float: left;
	background: #fff;
	padding-bottom: 170px;
}
.services__content{
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.services__content h2{
	margin-top: 160px;
	font-size: 50px;
}
.services__content span{
	color: #fd8569;
}
.services__content p{
	padding: 20px 10px;
	opacity: 0.5;
	line-height: 25px;
}
.service__box{
	margin-top: 130px;
}
.service__box{
	width: 100%;
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	flex-direction: row;
	justify-content: center;
}
.service__item h4{
	opacity: 0.75;
	font-size: 48px;
	font-weight: 400;
	line-height: 46px;
	padding-bottom: 10px;
}
.service__item p{
	opacity: 0.7;
	line-height: 25px;
}
.services_cont{
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	flex-direction: column;
}
.service_item{
	width: 104px;
	height: 92px;
	background-color: #fbfbfb;
	margin: 10px;
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	justify-content: center;
	align-items: center;
	transition: 500ms;
	cursor: pointer;

}
.service_item:hover,.service_item:focus,.active{
	box-shadow: 0 0 36px rgba(20, 20, 21, 0.2);
	background-color: #fff;
}
h4 .service__item:before{
	content: '';
	width: 57px;
	height: 3px;
	background-color: #ff5c36;
}
.center{
	margin-right: 100px;
	padding: 10px;
}
.left{
	margin-right: 100px;
}
.service__item a{
	box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.07);
	background: #fff;
	padding: 15px 50px;
	border-radius: 27px;
	border: 1px solid rgba(1, 2, 2, 0.07);
	margin-top: 50px;
	display: block;
	width: 188px;
	text-decoration: none;
	color: #000;
	opacity: 0.7;
}
.skills {
	background-color: #fbfbfb;
	height: 964px;
	width: 100%;
	float: left;
}
.skills_team{
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 140px 0 0 0;
}
.skills_team h3{
	color: #000;
	opacity: 0.8;
	font-size: 50px;
	line-height: 45.74px;
}
.skills_team span{
	color: #ff5c36;
}
.skills_team p{
	margin-top: 20px;
	opacity: 0.5;
	line-height: 25px;
}
.skills__content{
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 120px 0 0 0;
}
.skills__item{
	width: 360px;
	height: 445px;
	box-shadow: 0 0 2px rgba(20, 20, 21, 0.6);
	background-color: #ff5c36;
	margin: 10px;
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	align-items:flex-end;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
	transition: 300ms;

}
.skills__item:hover,.skills__item:focus,.actived{
	background-color: #fff3f0;
	box-shadow: 0 0 49px rgba(20, 20, 21, 0.11);
	transition: 300ms;

}
.skill{
	background: #fff;
	padding: 20px 50px;
	display: -webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-o-flex;
	display:flex;
	flex-direction: column;
	text-align: center;
	width: 83%;
	justify-content: center;
	border-radius: 2px;
	position: relative;
	top: 25px;
	box-shadow: 1px 6px 16px rgba(20, 20, 21, 0.08);
}
.skill h5{
	opacity: 0.7;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	
}
.skill span{
	opacity: 0.7;
	font-weight: 300;
	padding: 10px;
}
.client{
	width: 100%;
	height: 940px;
	float: left;
}
.client_title{
  width: 100%;
  margin-top: 140px;
  display: -webkit-flex;
  display:-moz-flex;
  display:-ms-flex;
  display:-o-flex;
  display:flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: content;
  align-items: content;
  justify-content: center;
  text-align: center;
  
}
.client_title h3{
  font-size: 50px;
  line-height: 45px;
  font-weight: 400;
  padding: 10px;
}
.client_title span{
  color: #fc6744;
}
.client_title p{
  opacity: 0.5;
  padding: 10px;
}
.client_comment{
  margin: 80px 0 0 0;
  width: auto;
}
.client_box{
/*	max-width: 100%;*/
  height: 271px;
  dbox-shadow: 0 0 0 rgba(20, 20, 21, 0.38);
  border-radius: 1px;
  background-color: #ffffff;
  display: block;
  padding: 10px 15px;
  margin: 40px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  
}
.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;

}
.slick-slide{
	z-index: -1;
}
.slick-dots button{
	font-size: 0px;
	width: 18px;
	height: 6px;
	border-radius: 3px;
	background-color: #e0e0e0;
	margin: 0px 6px;
	border: none;
	outline: none;

}
.slick-active button{
	width: 18px;
	height: 6px;
	border-radius: 3px;
	background-color: #ff6e47;
		font-size: 0px;

}
.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 rgba(20, 20, 21, 0.38);
  background-color: #ffffff;
  background-size: cover;
  z-index: 9999;
  display: block;
}
.client_img{
  display: flex;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 50px;
	z-index: 222;
}
.arrowleft, .arrowright{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.08);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  transition: 300ms;
  position: absolute;
  z-index:5;
  top: 50%;
  transform: translateY(-50%);
}
.arrowleft:hover, .arrowright:focus,.arrowright:hover{
	box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.28);
	background-color: #ff6e47;
	color:#fff;
}
.arrowleft {
  left: 0;
}

.arrowright {
  top: 50%;
  right: 0;
}

.arrowleft:hover,.arrowleft:focus{
  box-shadow: 1px 3px 14px rgba(20, 20, 21, 0.28);
  background-color: #ff6e47;
  color: #fff;
  transition: 300ms;
}
.client_box p::before { 
  content: "“";
  
}

.client_box p::after { 
  content: "”";

}
.client_box p{
  font-size: 17px;
  line-height: 27px;	
  opacity: 0.7;
  text-align: center;
  padding: 0px 50px;
  font-weight: 400;
}

.slick-list {
  overflow-x: hidden;
}
.rang ul{
	display: flex;
	flex-direction:row;
	justify-content: center;
	margin: 10px 0 0 0;
}
.rang i{
	font-size: 12px;
	color: #faf4b4;
	letter-spacing: 1.7px;
}
i.rang_star{
	color: #ffef3b;
}
.slick-current{
	box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
	border-radius: 1px;
}
.avtor{
	display: flex;
	justify-content: center;
	margin: 20px 0 0 0;
	font-style: italic;
}
.avtor b{
	font-weight: 600;
	font-style: normal;
}
.brend{
	height: 202px;
	width: 100%;
	background-color: #fbfbfb;
	float: left;
	
}
.brend__logo ul{
	height: 202px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.brend__logo li{
	padding: 0px 30px;
		
}
.partner img{
	max-width: 100%;
	background-size: cover;
}
.brend__logo i{
	color: #d3d3d3;
}
.contact{
	float: left;
	background-color: #f7f7f7;
	height: 288px;
	width: 100%;
}
.contact_conteiner{
	display: flex;
	justify-content: center;
	margin: 40px 0 0 0;
		
}
.contact_conteiner a{
	box-shadow: 2px 11px 20px rgba(20, 20, 21, 0.07);
	border-radius: 27px;
	border: 1px solid rgba(1, 2, 2, 0.07);
	background-color: #fdfdfd;
	text-decoration: none;
	padding: 15px 80px;
	color: #000;
}
.social ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px 0 0 0;
}
.social b{
	color: #040404;
	opacity: 0.6;
}
.social li{
	padding: 0px 20px;
	display: flex;
	align-items: center;
}
.social a{
	color: #fff;
	font-size: 24px;
	width: 53px;
	height: 52px;
	background-color: #d3d3d3;
	padding: 20px;
	border-radius: 50%;
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	transition: 300ms;
}
.social a:hover,.social a:focus{
	box-shadow: 0 0 23px rgba(20, 20, 21, 0.29);
	background-color: #ff6e47;
	transition: 300ms;
}
